@using MTKPM_QuanLyKhachSan.ViewModels
@{
	Layout = null;
	var roles = ViewBag.roles;
	var permissionGroups = ViewBag.permissionGroups;
}
@model EmployeeVM

<form id="form-create-account">
	<!-- Lưu đặt phòng -->
	<div class="panel-save d-flex justify-content-between align-items-center">
		<span>Thêm mới</span>

		<div class="">
			<input type="submit" value="Lưu" />
		</div>
	</div>

	<!-- Form -->
	<div class="panel-form">
		<!-- Thông tin -->
		<div class="panel-form-info">
			<!-- Tên tài khoản -->
			<div class="panel-form-item">
				<h5 class="panel-form-title">Tên nhân viên</h5>
				<input class="panel-form-input" type="text" name="Name" value="@Model.Name" required />
			</div>

			<!-- Tên tài khoản -->
			<a class="panel-form-item">
				<h5 class="panel-form-title">Tên đăng nhập</h5>
				<input class="panel-form-input" type="text" name="Username" value="@Model.Username" required />
			</a>

			<div class="setting-account">
				<div class="setting-account-title">
					<i class="fa-solid fa-gear"></i>
					<span>Thiết lập quyền hạn</span>
				</div>

				@foreach (var role in roles)
				{
					<div class="setting-account-item-container">
						<div class="setting-account-item setting-account-item-title">
							<input class="item-permission-title" type="checkbox" id="@role.RoleId" />
							<label for="@role.RoleId">@role.Name</label>
						</div>

						<div class="setting-account-power d-flex ">
							<div class="setting-account-list row w-100">
								@foreach (var permissionGroup in permissionGroups)
								{
									@if (role.RoleId.Equals(permissionGroup.RoleId))
									{
										if (Model.PermissionsEmployee.FirstOrDefault(i => i.PermissionId == permissionGroup.Permission.PermissionId) != null)
										{
											<div class="setting-account-item item-permission col-6">
												<input checked type="checkbox" class="item-permission-checkbox" name="Permissions" id="@permissionGroup.Permission.PermissionId" value="@permissionGroup.Permission.PermissionId" />
												<label for="@permissionGroup.Permission.PermissionId" class="">@permissionGroup.Permission.Name</label>
											</div>
										} 
										else
										{
											<div class="setting-account-item item-permission col-6">
												<input type="checkbox" class="item-permission-checkbox" id="@permissionGroup.Permission.PermissionId" value="@permissionGroup.Permission.PermissionId" />
												<label for="@permissionGroup.Permission.PermissionId" class="">@permissionGroup.Permission.Name</label>
											</div>
										}
									}
								}
							</div>
						</div>
					</div>
				}


				@*<!-- Tên tài khoản -->
					<div class="panel-form-item">
					<h5 class="panel-form-title">Giới tính</h5>
					<input class="panel-form-input" type="text" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
					<h5 class="panel-form-title">Ngày sinh</h5>
					<input class="panel-form-input" type="text" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
					<h5 class="panel-form-title">Số điện thoại</h5>
					<input class="panel-form-input" type="text" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
					<h5 class="panel-form-title">Địa chỉ</h5>
					<input class="panel-form-input" type="text" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
					<h5 class="panel-form-title">Email</h5>
					<input class="panel-form-input" type="text" />
					</div>*@
			</div>
		</div>
	</div>
</form>