@using MTKPM_QuanLyKhachSan.Common
@{
	var roomTypes = ViewBag.roomTypes;
	var roomRents = ViewBag.roomRents;
}

@foreach (var roomType in roomTypes)
{
	<div class="custom-room-type-item">
		<div class="custom-room-type-title">
			<p>@roomType.Name</p>
		</div>

		<div class="d-flex flex-xl-wrap ml-xl-n2 mr-xl-n2">
			@foreach (var room in roomRents)
			{
				if (@roomType.RoomTypeId == @room.Room.RoomTypeId)
				{
					<div class="col-4 pl-2 pr-2 pt-4 ">
						<div class="custom-card">
							<div class="custom-card-header">
								<span class="title custom-color-red">@room.Room.Name</span>

								<div class="">
									@if ((RoomTidy)room.Room.Tidy == RoomTidy.NotCleaned)
									{
										<i class="custom-icon fa-solid fa-tag custom-color-red"></i>
									}
									<i class="custom-icon fa-solid fa-ellipsis-vertical icon-menu"></i>
								</div>
							</div>
							<div class="custom-card-content">
								<div class="date block">
									<i class="custom-icon fa-solid fa-clock"></i>
									<span class="custom-text">10 ngày 21 giờ</span>
								</div>

								<div style="display: flex; justify-content: space-between">
									<div class="date block">
										<i class="custom-icon fa-solid fa-burger"></i>
										<span class="custom-text">10</span>
									</div>

									<div class="date block">
										<i class="custom-icon fa-solid fa-dollar-sign"></i>
										<span class="custom-text">1.000.000 VNĐ ~</span>
									</div>
								</div>
								
								<div class="date block">
									<i class="custom-icon fa-solid fa-comment"></i>
									<span class="custom-text">Không có ghi chú</span>
								</div>
							</div>

							<div id="myDropdown" class="custom-dropdown-menu">
								<div class="custom-dropdown-menu-item">
									<i class="custom-icon custom-icon fa-solid fa-pen-to-square"></i>
									<p>Chỉnh sửa</p>
								</div>

								<div class="custom-dropdown-menu-item">
									<i class="custom-icon fa-solid fa-burger"></i>
									<p>Thêm menu</p>
								</div>

								<div class="custom-dropdown-menu-item">
									<i class="custom-icon fa-solid fa-reply"></i>
									<p>Trả phòng</p>
								</div>

								<div class="custom-dropdown-menu-item btn-change-room-view" data-room-id="@room.Room.RoomId">
									<i class="custom-icon fa-solid fa-repeat"></i>
									<p>Đổi phòng</p>
								</div>

								@if ((RoomTidy)room.Room.Tidy == RoomTidy.NotCleaned)
								{
									<div class="custom-dropdown-menu-item not-allowed">
										<i class="custom-icon fa-solid fa-tag"></i>
										<p class="custom-color-nomal">Yêu cầu dọn phòng</p>
									</div>
								}
								else
								{
									<div class="custom-dropdown-menu-item btn-request-clean-room" data-room-id="@room.Room.RoomId">
										<i class="custom-icon fa-solid fa-tag"></i>
										<p>Yêu cầu dọn phòng</p>
									</div>
								}
								
								<div class="custom-dropdown-menu-item">
									<i class="custom-icon fa-solid fa-trash"></i>
									<p>Xóa</p>
								</div>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
}

