@using MTKPM_QuanLyKhachSan.Common
@{
	var roomTypes = ViewBag.roomTypes;
	var rooms = ViewBag.roomCleans;
}

@foreach (var roomType in roomTypes)
{
	<div class="custom-room-type-item">
		<div class="custom-room-type-title">
			<p>@roomType.Name</p>
		</div>

		<div class="d-flex flex-xl-wrap ml-xl-n2 mr-xl-n2">
			@foreach (var room in rooms)
			{
				if (@roomType.RoomTypeId == @room.RoomTypeId)
				{
					<div class="col-3 pl-2 pr-2 pt-4 ">
						<div class="custom-card">
							<div class="custom-card-header">
								<span class="title custom-color-red">@room.Name</span>
								<i class="custom-icon fa-solid fa-ellipsis-vertical icon-menu"></i>
							</div>
							<div class="custom-card-content">
								@if ((RoomStatusType)room.Status == RoomStatusType.RoomOccupied)
								{
									<div class="date block">
										<i class="custom-icon fa-solid fa-bed"></i>
										<span class="custom-text custom-color-red">Phòng đang thuê</span>
									</div>
								}
								else
								{
									<div class="date block">
										<i class="custom-icon fa-solid fa-hourglass-start"></i>
										<span class="custom-text custom-color-green">Phòng chờ</span>
									</div>
								}

								<div class="date block">
									<i class="custom-icon fa-solid fa-clock"></i>
									<span class="custom-text">10 ngày trước</span>
								</div>
							</div>

							<div id="myDropdown" class="custom-dropdown-menu">
								<div class="custom-dropdown-menu-item btn-clean-room" data-room-id="@room.RoomId">
									<i class="custom-icon fa-solid fa-check"></i>
									<p>Đã dọn</p>
								</div>
							</div>
						</div>
					</div>
				}
			}
		</div>
	</div>
}