﻿﻿@using MTKPM_QuanLyKhachSan.ViewModels
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
	var RoomType = ViewBag.RoomType;
}
@model RoomTypeVM
<div class="main-container d-flex">
	<!-- Nội dung bên trái -->
	<div class="left-panel col-8 pl-0 pr-0">
		<div class="content container-fluid">
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<div class="">
							<h4 class="card-title float-left mt-2" style="font-size: 24px">Tất cả loại phòng</h4>
							<a href="/Admin/AdminRoomType/AddRoomType" class="btn btn-primary float-right veiwbutton" id="menu-create">Thêm loại phòng</a>
						</div>
					</div>
				</div>
				<div class="custom-bulkhead">
					<form style="position: relative">
						<input id="search-input" type="text" class="form-control" placeholder="Tìm kiếm theo tên phòng" name="searchString">
						<p id="submit-button" class="btn" style="position: absolute; top: 0; right: 0"><i class="fas fa-search"></i></p>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-table">
						<div class="card-body booking_card">
							<div class="table-responsive">
								<table class="datatable table table-stripped table table-hover table-center mb-0">
									<thead>
										<tr>
											<th style="width: 1%" class="custom-text-center">Mã</th>
											<th style="width: 20%">Tên Loại Phòng</th>
											<th style="width: 10%" class="custom-text-center">Giá</th>
											<th style="width: 10%" class="custom-text-center">Số giường</th>
											<th style="width: 20%" class="custom-text-center">Hình ảnh</th>
											<th style="width: 39%">Chức năng</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var item in RoomType)
										{

											<tr>
												<td>@item.RoomTypeId</td>
												<td>@item.Name</td>
												<td>@item.Price</td>
												<td>@item.NumBed</td>
												<td><img class="img-100w-50h" src="~/img/avatar-1.jpg" /></td>
												@*<td>
													<img src="/images/@item.Image" style="width: 100%">
												</td>*@
												<td>
													<a data-menu-id="@item.RoomTypeId" class="btn btn-primary btn-sm menu-details">
														<i class="fas fa-pencil-alt"></i>
														Chi tiết
													</a>

													<a data-menu-id="@item.RoomTypeId" class="btn btn-info btn-sm menu-edit">
														<i class="fas fa-pencil-alt"></i>
														Chỉnh sửa
													</a>
													<a data-menu-id="@item.RoomTypeId" class="btn btn-danger btn-sm menu-delete">
														<i class="fas fa-pencil-alt"></i>
														Xóa
													</a>
												</td>
											</tr>
										}

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@*<!-- Them -->
	<div class="right-panel-create col-4 pl-0 pr-0" >
	<!-- Lưu đặt phòng -->
	<div class="panel-save d-flex justify-content-between align-items-center">
	<span>Thêm mới</span>

	<div class="">
	<input class="panel-save-submit" type="submit" value="Lưu" />
	</div>
	</div>

	<!-- Form -->
	<form class="panel-form">
	<!-- Thông tin -->
	<div class="panel-form-info">
	<!-- Mã dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Mã dịch vụ</h5>
	<input class="panel-form-input" type="text" value="" readonly />
	</div>


	<!-- Tên dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Tên</h5>
	<input class="panel-form-input" type="text" value="" />
	</div>

	<!-- Giá dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Giá</h5>
	<input class="panel-form-input" type="text" value="" />
	</div>

	<!-- Số lượng -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Số lượng</h5>
	<input class="panel-form-input" type="text" value="" />
	</div>
	</div>
	</form>
	</div>*@
	@*<!-- Xóa -->
	<div class="right-panel-delete col-4 pl-0 pr-0">
	<!-- Lưu đặt phòng -->
	<div class="panel-save d-flex justify-content-between align-items-center">
	<span>Xóa</span>

	<div class="">
	<input class="panel-save-submit" type="submit" value="Lưu" />
	</div>
	</div>

	<!-- Form -->
	<form class="panel-form">
	<!-- Thông tin -->
	<div class="panel-form-info">
	<!-- Mã dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Mã dịch vụ</h5>
	<input class="panel-form-input" type="text" value="1" readonly />
	</div>


	<!-- Tên dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Tên</h5>
	<input class="panel-form-input" type="text" value="Phòng siêu Vip" readonly />
	</div>

	<!-- Giá dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Giá</h5>
	<input class="panel-form-input" type="text" value="1.000.000đ" readonly />
	</div>

	<!-- Số lượng -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Số lượng</h5>
	<input class="panel-form-input" type="text" value="2" readonly />
	</div>
	<div>
	<div class="" style="text-align:right">
	<a class="btn btn-danger btn-sm" asp-controller="" asp-action="">Hủy bỏ</a>
	</div>
	</div>
	</form>
	</div>
	<!-- Chỉnh sửa -->
	<div class="right-panel-edit col-4 pl-0 pr-0">
	<!-- Lưu đặt phòng -->
	<div class="panel-save d-flex justify-content-between align-items-center">
	<span>Chỉnh sửa</span>

	<div class="">
	<input class="panel-save-submit" type="submit" value="Lưu" />
	</div>
	</div>

	<!-- Form -->
	<form class="panel-form">
	<div class="panel-form-info">
	<!-- Mã dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Mã dịch vụ</h5>
	<input class="panel-form-input" type="text" value="" />
	</div>


	<!-- Tên dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Tên</h5>
	<input class="panel-form-input" type="text" value="" />
	</div>

	<!-- Giá dịch vụ -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Giá</h5>
	<input class="panel-form-input" type="text" value="" />
	</div>

	<!-- Số lượng -->
	<div class="panel-form-item">
	<h5 class="panel-form-title">Số lượng</h5>
	<input class="panel-form-input" type="text" value="" />
	</div>
	</div>
	<div>
	<div class="" style="text-align:center">
	<a class="btn btn-info btn-sm" asp-controller="" style="margin-right:50px" asp-action="">Lưu</a>
	<a class="btn btn-info btn-sm" asp-controller="" asp-action="">Hủy bỏ</a>
	</div>
	</div>
	</form>
	</div>*@
	<div class="right-panel col-4 pl-0 pr-0">
	</div>
</div>






















@*@model List<MTKPM_QuanLyKhachSan.Models.RoomType>
<div class="main-container d-flex">
	<!-- Nội dung bên trái -->
	<div class="left-panel col-8 pl-0 pr-0">
		<!-- Header title -->
		<div class="custom-header-title">
			<div class="d-flex justify-content-between">
				<h4 class="card-title float-left mt-2" style="font-size: 24px">Tất cả loại phòng</h4>
				<a href="/Admin/AdminRoomtype/AddRoomType" class="btn btn-primary veiwbutton" id="roomType-create">Thêm loại phòng</a>
			</div>
		</div>

		<!-- Search -->
		<div class="custom-bulkhead">
			<form style="position: relative">
				<input id="search-input" type="text" class="form-control" placeholder="Tìm kiếm theo tên phòng" name="searchString">
				<p id="submit-button" class="btn" style="position: absolute; top: 0; right: 0"><i class="fas fa-search"></i></p>
			</form>
		</div>

		<!-- Main body -->
		<div class="content container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="card card-table">
						<div class="card-body booking_card">
							<div class="table-responsive">
								<table class="datatable table table-stripped table table-hover table-center mb-0">
									<!-- Titile -->
									<thead>
										<tr>
											<th style="width: 1%" class="custom-text-center">Mã</th>
											<th style="width: 20%">Tên Loại Phòng</th>
											<th style="width: 10%" class="custom-text-center">Giá</th>
											<th style="width: 10%" class="custom-text-center">Số giường</th>
											<th style="width: 20%" class="custom-text-center">Hình ảnh</th>
											<th style="width: 39%">Chức năng</th>
										</tr>
									</thead>

									<!-- Render data -->
									<tbody class="tbody-share">
										@foreach (var roomType in Model){
										<tr>
											<td class="custom-text-center">@roomType.RoomTypeId</td>
											<td>@roomType.Name</td>
											<td class="custom-text-center">@roomType.Price</td>
											<td class="custom-text-center">@roomType.NumBed</td>
											<td class="custom-text-center">
												<img class="img-100w-50h" src="~/img/avatar-1.jpg" />
											</td>
											<td>
												<a data-room-type-id="" class="btn btn-primary btn-sm roomType-details">
													<i class="fas fa-pencil-alt"></i>
													Chi Tiết
												</a>

												<a data-room-type-id="" class="btn btn-info btn-sm roomType-edit">
													<i class="fas fa-pencil-alt"></i>
													Chỉnh sửa
												</a>

												<a data-room-type-id="" class="btn btn-danger btn-sm roomType-delete">
													<i class="fas fa-pencil-alt"></i>
													Xóa
												</a>
											</td>
										</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- Nội dung bên phải -->
	<div class="right-panel col-4 pl-0 pr-0">
		<form method="post" action="../../RoomType/Create" enctype="multipart/form-data">
			<!-- Lưu đặt phòng -->
			<div class="panel-save d-flex justify-content-between align-items-center">
				<span>Thêm mới</span>

				<div class="">
					<input id="submit-input" type="submit" value="Lưu" />
				</div>
			</div>

			<!-- Form -->
			<div class="panel-form">
				<!-- Thông tin -->
				<div class="panel-form-info">
					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Tên loại phòng</h5>
						<input class="panel-form-input" type="text" name="Name" />
						<span data-valmsg-for="${data}" class="text-danger"></span>
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Số giường</h5>
						<input class="panel-form-input" type="number" name="BedNumber" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Giá</h5>
						<input class="panel-form-input" type="number" name="Price" placeholder="0.000 đ" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Mô tả</h5>
						<input class="panel-form-input" type="text" name="Description" />
					</div>

					<!-- Tên tài khoản -->
					<div class="panel-form-item">
						<h5 class="panel-form-title">Hình ảnh</h5>
						<input class="panel-form-input img-input-file" accept="image/*" type="file" name="ImageFile" />
						<br />
						<img class="preview-image w-100 " />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>*@