@model List<MTKPM_QuanLyKhachSan.Models.BookRoomDetails>

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-container d-flex">
    <div class="left-panel col-12 pl-0 pr-0">
        <!-- Header title -->
        <div class="custom-header-title">
            <div class="d-flex justify-content-between">
                <h4 class="card-title float-left mt-2" style="font-size: 24px">Quản Lý Lịch Sử Đặt Phòng</h4>
            </div>
        </div>

        <!-- Search -->
        <div class="custom-bulkhead col-4">
            <form method="post" action="@Url.Action("Search", "AdminHistoryBooking")">
                <div class="form-group">
                    <label for="startDate">Từ ngày:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="endDate">Đến ngày:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Tìm kiếm</button>
            </form>
        </div>

        <!-- Main body -->
        <div class="content container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body booking_card">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped table table-hover table-center mb-0">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%" class="custom-text-center">Mã đặt phòng</th>
                                            <th style="width: 10%" class="custom-text-center">Mã khách hàng</th>
                                            <th style="width: 10%" class="custom-text-center">Tên khách hàng</th>
                                            <th style="width: 10%" class="custom-text-center">Mã nhân viên</th>
                                            <th style="width: 10%" class="custom-text-center">Mã phòng</th>
                                            <th style="width: 10%" class="custom-text-center">Phòng</th>
                                            <th style="width: 10%" class="custom-text-center">Người lớn</th>
                                            <th style="width: 10%" class="custom-text-center">Trẻ em</th>
                                            <th style="width: 10%" class="custom-text-center">Ghi chú</th>
                                            <th style="width: 10%" class="custom-text-center">Thời gian nhận phòng</th>
                                            <th style="width: 10%" class="custom-text-center">Thời gian trả phòng</th>
                                            <th style="width: 10%" class="custom-text-center">Trạng thái</th>
                                            <th style="width: 39%">Chức năng</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody-share">
                                        @foreach (var booking in Model)
                                        {
                                            <tr>
                                                <td class="custom-text-center">@booking.BookRoomId</td>
                                                <td class="custom-text-center">@booking.BookRoom.CustomerId</td>
                                                <td class="custom-text-center">@booking.BookRoom.Customer.Name</td>
                                                <td class="custom-text-center">@booking.BookRoom.EmployeeId</td>
                                                <td class="custom-text-center">@booking.RoomId</td>
                                                <td class="custom-text-center">@booking.Room.Name</td>
                                                <td class="custom-text-center">@booking.BookRoom.NumAdult</td>
                                                <td class="custom-text-center">@booking.BookRoom.NumChildren</td>
                                                <td class="custom-text-center">@booking.BookRoom.Note</td>
                                                <td class="custom-text-center">@booking.CheckIn.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                <td class="custom-text-center">@booking.CheckOut.ToString("dd/MM/yyyy HH:mm:ss")</td>
                                                <td class="custom-text-center">@booking.Status</td>
                                                <td>
                                                    <a href="/Admin/AdminHistoryBooking/Detail/@booking.BookRoomDetailsId" class="btn btn-info btn-sm">
                                                        <i class="fas fa-info-circle"></i>
                                                        Chi tiết
                                                    </a>
                                                    <a href="/Admin/AdminHistoryBooking/Edit/@booking.BookRoomDetailsId" class="btn btn-warning btn-sm">
                                                        <i class="fas fa-pencil-alt"></i>
                                                        Chỉnh sửa
                                                    </a>
                                                    <a href="/Admin/AdminHistoryBooking/Delete/@booking.BookRoomDetailsId" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash-alt"></i>
                                                        Xóa
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</div>
