@using MTKPM_QuanLyKhachSan.ViewModels
@{
	Layout = "~/Views/Shared/_CustomerLayout.cshtml";
	var Information = ViewBag.Information;

}
@model CustomerVM
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Đổi Mật Khẩu</h1>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<form method="post" asp-controller="PublicCustomer" asp-action="ChangePassword" class="content" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-12">
			<div class="card card-primary">

				<div class="card-body">
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Mật khẩu mới" asp-for="Password" required/>
						<span asp-validation-for="@Model.Username" class="text-danger"></span>
						<span class="text-danger">@ViewBag.messageError</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Xác nhận mật khẩu" asp-for="VerifyPassword"  />
						<span asp-validation-for="@Model.Username" class="text-danger"></span>
						<span class="text-danger">@ViewBag.messageError</span>
					</div>
					<div class="form-group">
						
						<input type="text" id="inputName" class="form-control" asp-for="Username" value="@Model.Username" hidden>
					</div>
					<div class="form-group">
						
						<input type="text" id="inputName" class="form-control" asp-for="Name" value="@Model.Name" hidden>
					</div>
					<div class="form-group">
						
						<input type="text" id="inputName" class="form-control" asp-for="CIC" value="@Model.CIC" hidden>
					</div>
					<div class="form-group">
						
						<input type="text" id="inputName" class="form-control" asp-for="Phone" value="@Model.Phone" hidden>
					</div>
					<div class="form-group">
						
						<input type="text" id="inputName" class="form-control" asp-for="Email" value="@Model.Email" hidden>
					</div>
					<div class="form-group">
						
						<input type="text" id="inputClientCompany" class="form-control" asp-for="Address" value="@Model.Address" hidden>
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<a asp-controller="PublicCustomer" asp-action="Information" class="btn btn-secondary">Quay về</a>
			<input type="submit" value="Xác nhận" class="btn btn-success float-right">
		</div>
	</div>
</form>
<!-- /.content -->