@model MTKPM_QuanLyKhachSan.ViewModels.BookingHistory

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    var BookingList = Model.BookingList;
}

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center mb-5">
                <h2 class="heading-section">Lịch sử đặt phòng</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                @if (BookingList.Any())
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID Đặt phòng</th>
                                <th>ID Khách hàng</th>
                                <th>ID Nhân viên</th>
                                <th>Số lượng Người lớn</th>
                                <th>Số lượng Trẻ nhỏ</th>
                                <th>Ghi chú</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in BookingList)
                            {
                                <tr>
                                    <td>@booking.BookRoomId</td>
                                    <td>@booking.CustomerId</td>
                                    <td>@booking.EmployeeId</td>
                                    <td>@booking.NumAdult</td>
                                    <td>@booking.NumChildren</td>
                                    <td>@booking.Note</td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>Không tìm thấy lịch sử đặt phòng.</p>
                }
            </div>
        </div>
    </div>
</section>

<!-- Include các file script JS cần thiết -->
<script src="~/customer/Information/js/jquery.min.js"></script>
<script src="~/customer/Information/js/popper.js"></script>
<script src="~/customer/Information/js/bootstrap.min.js"></script>
<script src="~/customer/Information/js/jquery.validate.min.js"></script>
<script src="~/customer/Information/js/main.js"></script>
