﻿@using MTKPM_QuanLyKhachSan.ViewModels
@{
    Layout = null;
}
@model CustomerVM
<!doctype html>
<html lang="en">
<head>
    <title>Hotel Del Luna</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/customer/login/css/style.css">

</head>
<body class="img js-fullheight" style="background-image: url(../../customer/login/images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">Hotel Del Luna</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <form action="#" method="post" class="signin-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tên Đăng Nhập" asp-for="Username" />
                                <span asp-validation-for="@Model.Username" class="text-danger"></span>
                                <span class="text-danger">@ViewBag.messageError</span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Tên người dùng" asp-for="Name">
                                <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                <span class="text-danger">@ViewBag.messageError</span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Mật Khẩu" asp-for="Password">
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                <span class="text-danger">@ViewBag.messageError</span>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" asp-for="VerifyPassword">
                                <span asp-validation-for="@Model.VerifyPassword" class="text-danger"></span>
                                <span class="text-danger">@ViewBag.messageError</span>
                            </div>               
                            <div class="form-group">
                                <input type="submit" value="Đăng Ký" class="form-control btn btn-primary submit px-3"></>
                            </div> 
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/customer/login/js/jquery.min.js"></script>
    <script src="~/customer/login/js/popper.js"></script>
    <script src="~/customer/login/js/bootstrap.min.js"></script>
    <script src="~/customer/login/js/main.js"></script>

</body>
</html>
